<div class="text-center">
  <h2>Order Details</h2>
  <p><strong>Status:</strong> {{order.order_status}}</p>
  <p *ngIf="isAdmin"><strong>Order User:</strong> {{order.username}}</p>
  <p><strong>Date Placed:</strong> {{order.date_placed | date:'yyyy-MM-dd HH:mm:ss'}}</p>

  <button *ngIf="order.order_status  === 'Processing'" type="submit" (click)="cancelOrder(order.id)" class="btn btn-secondary">Cancel Order</button>
  <button *ngIf="order.order_status === 'Processing' && isAdmin" (click)="completeOrder(order.id)" class="btn btn-secondary" value="getOrder">
    Set Complete
  </button>
  <h3>Order Items</h3>
  <table class="table">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Purchased Price</th>
      <th scope="col" *ngIf="isAdmin">Wholesale Price</th>
      <th scope="col">Quantity</th>
      <th scope="col">View Product</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of order.orderItemDTOList">
      <th scope="row">{{item.productDTO.name}}</th>
      <td>{{item.purchased_price}}</td>
      <td *ngIf="isAdmin">{{item.wholesale_price}}</td>
      <td>{{item.quantity}}</td>
      <td><button [routerLink]="['/products', item.productDTO.id]" class="btn btn-light">Detail</button></td>
    </tr>
    </tbody>
  </table>
</div>
