  <table class="table">
    <thead>
    <tr>
      <th scope="col">Product</th>
      <th scope="col">Description</th>
      <th scope="col">Price</th>
      <th scope="col">Quantity</th>
    </tr>
    </thead>
    <tbody *ngIf="!is_admin">
      <tr *ngFor="let product of dataInfo">
        <td>{{product.name}}</td>
        <td>{{product.description}}</td>
        <td>{{product.retail_price}}</td>
        <td>
          <input type="number" min="0" [(ngModel)]="product.quantity" class="form-control" style="width:70px;">
        </td>
        <td>
          <button (click)="addToCart(product)" class="btn btn-light" value="addCart">Add to Cart</button>
          <button [routerLink]="['/products', product.id]"  class="btn btn-light" value="detail">View Detail</button>
          <button *ngIf="!watchlist.includes(product.id)" (click)="addToWatchlist(product)" class="btn btn-light" value="addWatchlist">Add to Watchlist</button>
          <button *ngIf="watchlist.includes(product.id)" (click)="removeFromWatchlist(product)" class="btn btn-secondary" value="deleteWatchlist">Remove from Watchlist</button>
        </td>
      </tr>
    </tbody>
  </table>
  <button type="submit" (click)="placeOrder()" value="submitOrder" class="btn btn-dark">Submit Order</button>




<!--    <div *ngIg="is_admin">-->
<!--      <tr>-->
<!--        <th scope="row">${entry.key.id}</th>-->
<!--        <td>${entry.key.name}</td>-->
<!--        <td>${entry.value[0]}</td>-->
<!--        <td>${entry.key.time_start}</td>-->
<!--        <td>${entry.key.time_end}</td>-->
<!--        <td>-->
<!--          <c:if test="${entry.key.time_end != null}">-->
<!--            <form action="/quiz-result/${entry.key.id}" method="get">-->
<!--              <button class="btn btn-light" type="submit">-->
<!--                ${entry.value[1]}-->
<!--              </button>-->

<!--            </form>-->
<!--          </c:if>-->
<!--        </td>-->
<!--      </tr>-->
<!--    </div>-->
<!--    </tbody>-->
